<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saint.struct">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <permission-group android:name="${applicationId}.andpermission" />
    <application
        android:name=".StructApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        tools:replace="android:theme"
        android:usesCleartextTraffic="true"
        android:allowNativeHeapPointerTagging="false">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.WebActivity" android:exported="false" />
        <activity android:name=".ui.activity.TestCordActivity" android:exported="false" />
        <activity android:name=".ui.activity.TestScrollActivity" android:exported="false" />

        <activity android:name=".ui.activity.AidlActivity"
            android:exported="false"/>

        <service
            android:name=".service.MessengerService"
            android:exported="false"
            tools:ignore="MissingClass" />

        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="false"
            android:process=":other"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.saint.struct.aidl.Server.Action" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />
        <profileable android:shell="true"
            tools:targetApi="29" />
    </application>


</manifest>